<div id="features" class="px-6 py-6 mx-0 mt-8 lg:px-20 lg:mx-20">
  <div class="grid justify-center grid-cols-12 gap-8">
    <div class="col-span-12 mt-20 mb-10 text-center">
      <div
        class="mb-2 text-4xl font-normal text-surface-900 dark:text-surface-0"
      >
        Marvelous Features
      </div>
      <span class="text-2xl text-muted-color">Placerat in egestas erat...</span>
    </div>

    <div class="col-span-12 p-0 mt-8 md:col-span-12 lg:col-span-4 lg:mt-0">
      <div
        class="bg-white dark:bg-surface-800 border border-gray-200 dark:border-surface-700 rounded-lg p-6 shadow-sm"
      >
        <div
          class="flex items-center justify-center w-14 h-14 mb-6 bg-yellow-200 rounded-[10px]"
        >
          <i class="pi pi-fw pi-users text-2xl! text-yellow-700"></i>
        </div>
        <div
          class="mb-3 text-xl font-bold text-surface-900 dark:text-surface-0"
        >
          Easy to Use
        </div>
        <span class="text-base text-surface-600 dark:text-surface-200"
          >Posuere morbi leo urna molestie.
        </span>
      </div>
    </div>

    <div class="col-span-12 p-0 mt-8 md:col-span-12 lg:col-span-4 lg:mt-0">
      <div
        class="bg-white dark:bg-surface-800 border border-gray-200 dark:border-surface-700 rounded-lg p-6 shadow-sm"
      >
        <div
          class="flex items-center justify-center w-14 h-14 mb-6 bg-cyan-200 rounded-[10px]"
        >
          <i class="pi pi-fw pi-palette text-2xl! text-cyan-700"></i>
        </div>
        <div
          class="mb-3 text-xl font-bold text-surface-900 dark:text-surface-0"
        >
          Fresh Design
        </div>
        <span class="text-base text-surface-600 dark:text-surface-200"
          >Semper risus in hendrerit.
        </span>
      </div>
    </div>

    <div class="col-span-12 p-0 mt-8 md:col-span-12 lg:col-span-4 lg:mt-0">
      <div
        class="bg-white dark:bg-surface-800 border border-gray-200 dark:border-surface-700 rounded-lg p-6 shadow-sm"
      >
        <div
          class="flex items-center justify-center w-14 h-14 mb-6 bg-indigo-200 rounded-[10px]"
        >
          <i class="pi pi-fw pi-map text-2xl! text-indigo-700"></i>
        </div>
        <div
          class="mb-3 text-xl font-bold text-surface-900 dark:text-surface-0"
        >
          Well Documented
        </div>
        <span class="text-base text-surface-600 dark:text-surface-200"
          >Non arcu risus quis varius quam quisque.
        </span>
      </div>
    </div>

    <div class="col-span-12 p-0 mt-8 md:col-span-12 lg:col-span-4 lg:mt-0">
      <div
        class="bg-white dark:bg-surface-800 border border-gray-200 dark:border-surface-700 rounded-lg p-6 shadow-sm"
      >
        <div
          class="flex items-center justify-center w-14 h-14 mb-6 bg-slate-200 rounded-[10px]"
        >
          <i class="pi pi-fw pi-id-card text-2xl! text-slate-700"></i>
        </div>
        <div
          class="mb-3 text-xl font-bold text-surface-900 dark:text-surface-0"
        >
          Responsive Layout
        </div>
        <span class="text-base text-surface-600 dark:text-surface-200"
          >Nulla malesuada pellentesque elit.
        </span>
      </div>
    </div>

    <div class="col-span-12 p-0 mt-8 md:col-span-12 lg:col-span-4 lg:mt-0">
      <div
        class="bg-white dark:bg-surface-800 border border-gray-200 dark:border-surface-700 rounded-lg p-6 shadow-sm"
      >
        <div
          class="flex items-center justify-center w-14 h-14 mb-6 bg-orange-200 rounded-[10px]"
        >
          <i class="pi pi-fw pi-star text-2xl! text-orange-700"></i>
        </div>
        <div
          class="mb-3 text-xl font-bold text-surface-900 dark:text-surface-0"
        >
          Clean Code
        </div>
        <span class="text-base text-surface-600 dark:text-surface-200"
          >Condimentum lacinia quis vel eros.
        </span>
      </div>
    </div>

    <div class="col-span-12 p-0 mt-8 md:col-span-12 lg:col-span-4 lg:mt-0">
      <div
        class="bg-white dark:bg-surface-800 border border-gray-200 dark:border-surface-700 rounded-lg p-6 shadow-sm"
      >
        <div
          class="flex items-center justify-center w-14 h-14 mb-6 bg-pink-200 rounded-[10px]"
        >
          <i class="pi pi-fw pi-moon text-2xl! text-pink-700"></i>
        </div>
        <div
          class="mb-3 text-xl font-bold text-surface-900 dark:text-surface-0"
        >
          Dark Mode
        </div>
        <span class="text-base text-surface-600 dark:text-surface-200"
          >Convallis tellus id interdum velit laoreet.
        </span>
      </div>
    </div>

    <div class="col-span-12 p-0 mt-8 md:col-span-12 lg:col-span-4 lg:mt-0">
      <div
        class="bg-white dark:bg-surface-800 border border-gray-200 dark:border-surface-700 rounded-lg p-6 shadow-sm"
      >
        <div
          class="flex items-center justify-center w-14 h-14 mb-6 bg-teal-200 rounded-[10px]"
        >
          <i class="pi pi-fw pi-shopping-cart text-2xl! text-teal-700"></i>
        </div>
        <div
          class="mb-3 text-xl font-bold text-surface-900 dark:text-surface-0"
        >
          Ready to Use
        </div>
        <span class="text-base text-surface-600 dark:text-surface-200"
          >Mauris sit amet massa vitae.
        </span>
      </div>
    </div>

    <div class="col-span-12 p-0 mt-8 md:col-span-12 lg:col-span-4 lg:mt-0">
      <div
        class="bg-white dark:bg-surface-800 border border-gray-200 dark:border-surface-700 rounded-lg p-6 shadow-sm"
      >
        <div
          class="flex items-center justify-center w-14 h-14 mb-6 bg-blue-200 rounded-[10px]"
        >
          <i class="pi pi-fw pi-globe text-2xl! text-blue-700"></i>
        </div>
        <div
          class="mb-3 text-xl font-bold text-surface-900 dark:text-surface-0"
        >
          Modern Practices
        </div>
        <span class="text-base text-surface-600 dark:text-surface-200"
          >Elementum nibh tellus molestie nunc non.
        </span>
      </div>
    </div>

    <div class="col-span-12 p-0 mt-8 md:col-span-12 lg:col-span-4 lg:mt-0">
      <div
        class="bg-white dark:bg-surface-800 border border-gray-200 dark:border-surface-700 rounded-lg p-6 shadow-sm"
      >
        <div
          class="flex items-center justify-center w-14 h-14 mb-6 bg-purple-200 rounded-[10px]"
        >
          <i class="pi pi-fw pi-eye text-2xl! text-purple-700"></i>
        </div>
        <div
          class="mb-3 text-xl font-bold text-surface-900 dark:text-surface-0"
        >
          Privacy
        </div>
        <span class="text-base text-surface-600 dark:text-surface-200"
          >Neque egestas congue quisque.
        </span>
      </div>
    </div>

    <div
      class="col-span-12 p-2 mt-20 mb-20 md:p-20 rounded-[20px] bg-[linear-gradient(0deg,rgba(255,255,255,0.6),rgba(255,255,255,0.6)),radial-gradient(77.36%_256.97%_at_77.36%_57.52%,#efe1af_0%,#c3dcfa_100%)]"
    >
      <div
        class="flex flex-col items-center justify-center px-4 py-4 text-center md:py-0"
      >
        <div class="mb-2 text-3xl font-semibold text-gray-900">
          Joséphine Miller
        </div>
        <span class="text-2xl text-gray-600">Peak Interactive</span>
        <p
          class="mt-6 text-2xl text-gray-900 sm:line-height-2 md:line-height-4 max-w-[800px]"
        >
          "Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
          dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est
          laborum."
        </p>
        <img
          src="https://primefaces.org/cdn/templates/sakai/landing/peak-logo.svg"
          class="mt-6"
          alt="Company logo"
        />
      </div>
    </div>
  </div>
</div>
