<div
  id="hero"
  class="flex flex-col px-6 pt-6 overflow-hidden lg:px-20 bg-[linear-gradient(0deg,rgba(255,255,255,0.2),rgba(255,255,255,0.2)),radial-gradient(77.36%_256.97%_at_77.36%_57.52%,rgb(238,239,175)_0%,rgb(195,227,250)_100%)] [clip-path:ellipse(150%_87%_at_93%_13%)]"
>
  <div class="mx-6 mt-0 md:mx-20 md:mt-6">
    <h1 class="text-6xl font-bold leading-tight text-gray-900">
      <span class="block font-light">Eu sem integer</span>eget magna fermentum
    </h1>
    <p class="text-2xl font-normal leading-normal text-gray-700 md:mt-4">
      Sed blandit libero volutpat sed cras. Fames ac turpis egestas integer.
      Placerat in egestas erat...
    </p>
    <button
      pButton
      pRipple
      [rounded]="true"
      type="button"
      label="Get Started"
      class="text-xl! mt-8 px-4!"
      aria-label="Get Started"
    ></button>
  </div>
  <div class="flex justify-center md:justify-end">
    <img
      src="https://primefaces.org/cdn/templates/sakai/landing/screen-1.png"
      alt="Hero"
      class="w-9/12 md:w-auto"
    />
  </div>
</div>
