<div class="card">
  <div class="flex items-center justify-between mb-6">
    <div class="text-xl font-semibold">Best Selling Products</div>
    <div>
      <button
        pButton
        type="button"
        icon="pi pi-ellipsis-v"
        class="p-button-rounded p-button-text p-button-plain"
        (click)="menu.toggle($event)"
        title="More options"
      ></button>
      <p-menu #menu [popup]="true" [model]="items"></p-menu>
    </div>
  </div>
  <ul class="p-0 m-0 list-none">
    <li
      class="flex flex-col mb-6 md:flex-row md:items-center md:justify-between"
    >
      <div>
        <span
          class="mb-1 mr-2 font-medium text-surface-900 dark:text-surface-0 md:mb-0"
          >Space T-Shirt</span
        >
        <div class="mt-1 text-muted-color">Clothing</div>
      </div>
      <div class="flex items-center mt-2 md:mt-0">
        <div
          class="w-40 overflow-hidden h-2 bg-surface-300 dark:bg-surface-500 rounded-border lg:w-24"
        >
          <div class="h-full bg-orange-500 w-[50%]"></div>
        </div>
        <span class="ml-4 font-medium text-orange-500">%50</span>
      </div>
    </li>
    <li
      class="flex flex-col mb-6 md:flex-row md:items-center md:justify-between"
    >
      <div>
        <span
          class="mb-1 mr-2 font-medium text-surface-900 dark:text-surface-0 md:mb-0"
          >Portal Sticker</span
        >
        <div class="mt-1 text-muted-color">Accessories</div>
      </div>
      <div class="flex items-center mt-2 ml-0 md:mt-0 md:ml-20">
        <div
          class="w-40 overflow-hidden h-2 bg-surface-300 dark:bg-surface-500 rounded-border lg:w-24"
        >
          <div class="h-full bg-cyan-500 w-[16%]"></div>
        </div>
        <span class="ml-4 font-medium text-cyan-500">%16</span>
      </div>
    </li>
    <li
      class="flex flex-col mb-6 md:flex-row md:items-center md:justify-between"
    >
      <div>
        <span
          class="mb-1 mr-2 font-medium text-surface-900 dark:text-surface-0 md:mb-0"
          >Supernova Sticker</span
        >
        <div class="mt-1 text-muted-color">Accessories</div>
      </div>
      <div class="flex items-center mt-2 ml-0 md:mt-0 md:ml-20">
        <div
          class="w-40 overflow-hidden h-2 bg-surface-300 dark:bg-surface-500 rounded-border lg:w-24"
        >
          <div class="h-full bg-pink-500 w-[67%]"></div>
        </div>
        <span class="ml-4 font-medium text-pink-500">%67</span>
      </div>
    </li>
    <li
      class="flex flex-col mb-6 md:flex-row md:items-center md:justify-between"
    >
      <div>
        <span
          class="mb-1 mr-2 font-medium text-surface-900 dark:text-surface-0 md:mb-0"
          >Wonders Notebook</span
        >
        <div class="mt-1 text-muted-color">Office</div>
      </div>
      <div class="flex items-center mt-2 ml-0 md:mt-0 md:ml-20">
        <div
          class="w-40 overflow-hidden h-2 bg-surface-300 dark:bg-surface-500 rounded-border lg:w-24"
        >
          <div class="h-full bg-green-500 w-[35%]"></div>
        </div>
        <span class="ml-4 font-medium text-primary">%35</span>
      </div>
    </li>
    <li
      class="flex flex-col mb-6 md:flex-row md:items-center md:justify-between"
    >
      <div>
        <span
          class="mb-1 mr-2 font-medium text-surface-900 dark:text-surface-0 md:mb-0"
          >Mat Black Case</span
        >
        <div class="mt-1 text-muted-color">Accessories</div>
      </div>
      <div class="flex items-center mt-2 ml-0 md:mt-0 md:ml-20">
        <div
          class="w-40 overflow-hidden h-2 bg-surface-300 dark:bg-surface-500 rounded-border lg:w-24"
        >
          <div class="h-full bg-purple-500 w-[75%]"></div>
        </div>
        <span class="ml-4 font-medium text-purple-500">%75</span>
      </div>
    </li>
    <li
      class="flex flex-col mb-6 md:flex-row md:items-center md:justify-between"
    >
      <div>
        <span
          class="mb-1 mr-2 font-medium text-surface-900 dark:text-surface-0 md:mb-0"
          >Robots T-Shirt</span
        >
        <div class="mt-1 text-muted-color">Clothing</div>
      </div>
      <div class="flex items-center mt-2 ml-0 md:mt-0 md:ml-20">
        <div
          class="w-40 overflow-hidden h-2 bg-surface-300 dark:bg-surface-500 rounded-border lg:w-24"
        >
          <div class="h-full bg-teal-500 w-[40%]"></div>
        </div>
        <span class="ml-4 font-medium text-teal-500">%40</span>
      </div>
    </li>
  </ul>
</div>
