.layout-sidebar-visible {
  .layout-sidebar {
    transform: translateX(0);
  }
}

.layout-sidebar {
  position: fixed;
  background-color: var(--surface-card);
  height: 100%;
  top: calc(var(--topbar-height) + 1px);
  bottom: 0;
  left: 0;
  width: var(--sidebar-width);
  -webkit-user-select: none;
  user-select: none;
  transition:
    transform var(--layout-section-transition-duration),
    box-shadow var(--layout-section-transition-duration);
  transform: translateX(calc(-1 * var(--sidebar-width)));
  z-index: 999;
  box-shadow:
    0px 3px 5px rgba(0, 0, 0, 0.02),
    0px 0px 2px rgba(0, 0, 0, 0.05),
    0px 1px 4px rgba(0, 0, 0, 0.08);
}

.layout-sidebar .layout-menu-container {
  overflow-y: auto;
  height: calc(100% - 5rem);
}

.layout-sidebar .layout-menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.layout-sidebar
  .layout-menu
  .layout-root-menuitem
  > .layout-menuitem-root-text {
  font-size: 0.857rem;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--surface-900);
  margin: 0.75rem 0;
}

.layout-sidebar .layout-menu a {
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: var(--text-color);
  transition:
    background-color var(--element-transition-duration),
    border-left-color var(--element-transition-duration);
  padding: 0.75rem 1rem;
  border-left: 0 none;
}

.layout-sidebar .layout-menu a:hover {
  background-color: var(--surface-hover);
}

.layout-sidebar .layout-menu a.router-link-active {
  font-weight: 700;
  color: var(--primary-color);
}

.layout-sidebar .layout-menu a:focus {
  outline: 0 none;
}

.layout-sidebar .layout-menu a:focus-visible {
  outline: 0.2rem solid var(--primary-color);
  outline-offset: -0.2rem;
}

.layout-sidebar .layout-menu a .layout-menuitem-icon {
  margin-right: 0.5rem;
}

.layout-sidebar .layout-menu a .layout-submenu-toggler {
  font-size: 75%;
  margin-left: auto;
  transition: transform var(--element-transition-duration);
}

.layout-sidebar .layout-menu .layout-menu-tooltip {
  display: none;
}

.layout-sidebar .layout-menu .layout-submenu-wrapper {
  max-height: 0;
  overflow: hidden;
  transition: max-height var(--element-transition-duration);
}

.layout-sidebar .layout-menu .layout-submenu-wrapper .layout-menu {
  margin: 0;
}

.layout-sidebar .layout-menu .layout-submenu-wrapper .layout-menu a {
  padding-left: 1.6rem;
}

.layout-sidebar .layout-menu .layout-menu-enter-from,
.layout-sidebar .layout-menu .layout-menu-leave-to {
  max-height: 0;
}

.layout-sidebar .layout-menu .layout-menu-enter-to,
.layout-sidebar .layout-menu .layout-menu-leave-from {
  max-height: 1000px;
}

.layout-sidebar .layout-menu .layout-menu-leave-active {
  overflow: hidden;
  transition: max-height var(--element-transition-duration);
}

.layout-sidebar .layout-menu .layout-menu-enter-active {
  overflow: hidden;
  transition: max-height var(--element-transition-duration);
}

.layout-sidebar .layout-menu .active-menuitem > a .layout-submenu-toggler {
  transform: rotate(-180deg);
}

.layout-sidebar .layout-menu .active-menuitem > .layout-submenu-wrapper {
  max-height: 1000px;
}

.layout-sidebar .layout-sidebar-filter {
  padding: 1.25rem 1rem;
  font-size: 0.857rem;
  border-bottom: 1px solid var(--surface-border);
}

.layout-sidebar .layout-sidebar-filter .p-input-icon-left {
  width: 100%;
}

.layout-sidebar .layout-sidebar-filter .p-input-icon-left i {
  margin-left: 0.5rem;
}

.layout-sidebar .layout-sidebar-filter input {
  width: 100%;
  padding-left: 1.5rem;
}

@media screen and (min-width: 992px) {
  .layout-sidebar-visible .layout-main {
    margin-left: var(--sidebar-width);
  }

  .layout-sidebar-visible .layout-sidebar {
    transform: translateX(0);
  }

  .layout-sidebar-visible.layout-static .layout-main {
    margin-left: 0;
  }

  .layout-sidebar-visible.layout-static .layout-sidebar {
    transform: translateX(calc(-1 * var(--sidebar-width)));
  }

  .layout-sidebar-visible.layout-static.layout-static-sidebar-active
    .layout-main {
    margin-left: var(--sidebar-width);
  }

  .layout-sidebar-visible.layout-static.layout-static-sidebar-active
    .layout-sidebar {
    transform: translateX(0);
  }

  .layout-sidebar-visible.layout-overlay .layout-main {
    margin-left: 0;
  }

  .layout-sidebar-visible.layout-overlay .layout-sidebar {
    transform: translateX(calc(-1 * var(--sidebar-width)));
  }

  .layout-sidebar-visible.layout-overlay.layout-overlay-sidebar-active
    .layout-sidebar {
    transform: translateX(0);
  }
}
